.shop-container{
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    
}

@media screen and (max-width:1300px) {
    .products-container{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
        
    }
}
@media screen and (max-width:950px) {
    .products-container{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr;
        gap: 45px;
        
    }
}

.cart-container{
    background: #FFE0B3;
    padding: 23px;
}